<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="Bluecom_Scheduled" id="Bluecom_Scheduled">
			<module before="Magento_Backend" name="Bluecom_Scheduled"/>
		</route>
	</router>
</config>
