<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Bluecom_Scheduled::Scheduled" sortOrder="10" title="Scheduled">
					<resource id="Bluecom_Scheduled::Scheduled_save" sortOrder="10" title="Save Scheduled"/>
					<resource id="Bluecom_Scheduled::Scheduled_delete" sortOrder="20" title="Delete Scheduled"/>
					<resource id="Bluecom_Scheduled::Scheduled_update" sortOrder="30" title="Update Scheduled"/>
					<resource id="Bluecom_Scheduled::Scheduled_view" sortOrder="40" title="View Scheduled"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
