<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Bluecom\Scheduled\Api\ScheduledRepositoryInterface" type="Bluecom\Scheduled\Model\ScheduledRepository"/>
	<preference for="Bluecom\Scheduled\Api\Data\ScheduledInterface" type="Bluecom\Scheduled\Model\Scheduled"/>
	<preference for="Bluecom\Scheduled\Api\Data\ScheduledSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Bluecom\Scheduled\Model\ResourceModel\Scheduled\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">bluecom_scheduled_scheduled</argument>
			<argument name="resourceModel" xsi:type="string">Bluecom\Scheduled\Model\ResourceModel\Scheduled\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="bluecom_scheduled_scheduled_grid_data_source" xsi:type="string">Bluecom\Scheduled\Model\ResourceModel\Scheduled\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>